/*login*/
.form-label{color:#fff;
}
.form-container{
    padding: 50px 60px;
    margin-top: 150px;
    -webkit-box-shadow: -1px 0px 33px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 33px 15px rgba(0,0,0,0.75);
     box-shadow: -1px 0px 33px 15px rgba(0,0,0,0.75);
}

.form-control-transparent{
    background-color: rgba(255, 255, 255, 0.8);
}

.select2-container{
    font-weight: 400;
    line-height: 1.5;
}

/*Configuração tamnahos*/
.elemento {
    margin-top: 70px; /* margem padrão */
  }
  
  @media only screen and (max-width: 600px) {
    .elemento {
      margin-top: 5px; /* margem para telas com largura máxima de 600px */
    }
  }



